
<div *ngIf="selectedHero">
    <p>{{selectedHero.name | uppercase}}</p>
    <button (click)="onClickDetail()">detail</button>
</div>

<div>
    <p>name: {{heroName}}</p>
    <input [(ngModel)]="heroName">
    <button (click)="onClickAdd(heroName); heroName='';">add</button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onClickHero(hero)" [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>{{hero.name}}
        <button (click)="onClickDelete(hero); $event.stopPropagation();">x</button>
    </li>
</ul>
