<div class="mat-elevation-z8">
    <div class="mat-table-addon">
        <mat-form-field class="mat-table-addon__search">
            <input [formControl]="matTableSearch" matInput placeholder="搜索">
        </mat-form-field>
        <button mat-mini-fab color="primary" class="mat-table-addon__add">
            <mat-icon>add</mat-icon>
        </button>
    </div>


    <mat-table #table [dataSource]="dataSource">
        <div *ngFor="let col of state.table.colDef">
            <ng-container [ngSwitch]="col.constructor.name" [matColumnDef]="col.col">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{col.header}}</mat-header-cell>
                <div *ngSwitchCase="'TableOptColDefOption'">
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button *ngFor="let item of col.menus" mat-menu-item (click)="item.onClick(element);">
                                <mat-icon>{{item.icon}}</mat-icon>
                                <span>{{item.text}}</span>
                            </button>
                        </mat-menu>
                    </mat-cell>
                </div>
                <div *ngSwitchDefault>
                    <mat-cell *matCellDef="let element">{{element[col.col]}}</mat-cell>
                </div>
            </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="state.paginator.length" [pageIndex]="state.paginator.pageIndex" [pageSize]="state.paginator.pageSize"
        [pageSizeOptions]="state.paginator.pageSizeOptions">
    </mat-paginator>
</div>
